{%  extends "layout.html"   %}

{%  block content   %}
<div class="forms_block">  
     
    <form id ="login_form" action = ""  method = "POST" novalidate>

        <div id="form_title"> Log in</div>
        {{  form.hidden_tag()    }}
        
        <div class="login_container">
        {{  form.username(class='login_field', placeholder = "Usuário")    }}
        {% for error in form.username.errors %}
        <span style = "color:red;">{{error}}</span>
        {%  endfor  %}  
        </div>

        <div class="login_container">
        {{  form.password(class='login_field', placeholder= "Senha")    }}
        {% for error in form.password.errors %}
        <span style = "color:red;">{{error}}</span>
        {%  endfor  %}
        </div>

        {{  form.submit(class='loginButton')  }}

        <p id = "form_login_bottom"> Ainda não possui uma conta ? <span><a href='/register'> Inscreva-se</a></span></p>
    </form>
    
</div>

{%  endblock    %}